<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>


  <section id="header">
    <a href="#"> <img src="/img/logo.png" class="logo" alt=""></a>
    <div>
      <ul id="navbar">

        <form>
          <div class="search">
            <span class="search-icon material-symbols-outlined">search</span>
            <input class="search-input" type="search" placeholder="Search">
          </div>
        </form>

        <li><a class="active" href="/">Home</a></li>
        <li><a href="/signIn">Sign In/Register</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/cart"><img src="/img/cart.png"></a></li>
        <ul>
    </div>
  </section>

  <section id="hero">
    <h4> Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <q>Save more with coupons & up to 70% off! </q>
    <button>Shop Now</button>
  </section>

  <section id="feature" class="section-p1">
    <div id="feature" class="fe-box">
      <img src="/img/features/f1.jpg" alt="">
      <h6>Mystery Box</h6>
    </div>
    <div id="feature" class="fe-box">
      <img src="/img/features/f2.jpg" alt="">
      <h6>Figure</h6>
    </div>
    <div id="feature" class="fe-box">
      <img src="/img/features/f3.jpg" alt="">
      <h6>Toy</h6>
    </div>
    <div id="feature" class="fe-box">
      <img src="/img/features/f4.png" alt="">
      <h6>Promotions</h6>
    </div>
    <div id="feature" class="fe-box">
      <img src="/img/features/f5.jpg" alt="">
      <h6>Order tracking</h6>
    </div>
    <div id="feature" class="fe-box">
      <img src="/img/features/f6.jpg" alt="">
      <h6>Review product</h6>
    </div>
  </section>

  <section id="product1" class="section-p1">
    <h2>Featured Product</h2>
    <p>New Collection</p>
    <div class="pro-container">
      <% for(let product of products) { %>
        <div class="pro" onclick="redirectToProduct('<%= product._id %>')">
          <img src="data:image/png;base64, <%= product.image %>" alt="">
          <div class="des">
            <span><%= product.name %></span>
            <h5><%= product.description %></h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4><%= product.price %></h4>
          </div>
          <a href="#">
            <div class="cart">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
      <% } %>
        
        <!--
        --------------------------------------------------------------------------------------
        
        <div class="pro" onclick="window.location.href='/Sup-product';">
          <img src="/img/products/p1.jpg" alt="">
          <div class="des">
            <span>Labubu</span>
            <h5>THE MONSTERS Catch Me If You Like Me Series-Vinyl Doll Gift Box</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>฿380</h4>
          </div>
          <a href="#">
            <div class="cart">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="pro">
          <img src="/img/products/p2.jpg" alt="">
          <div class="des">
            <span>Jujutsu Kaisen</span>
            <h5>Anime Figure Jujutsu Kaisen Collection Model Toy Gojo Satoru</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>

            </div>
            <h4>฿3,183</h4>
          </div>
          <a href="#">
            <div class="cart">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>

        </div>
        <div class="pro">
          <img src="/img/products/p3.png" alt="">
          <div class="des">
            <span>CryBaby</span>
            <h5>Crybaby Crying Parade Series</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>฿590</h4>
          </div>
          <a href="#">
            <div class="cart">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>

        </div>
        <div class="pro">
          <img src="/img/products/p4.jpg" alt="">
          <div class="des">
            <span>Labubu</span>
            <h5>.THE MONSTERS - BEST OF LUCK Vinyl Plush Doll</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>


            </div>
            <h4>฿2,690</h4>
          </div>
          <a href="#">
            <div class="cart">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>

        </div>
        <div class="pro">
          <img src="/img/products/p5.jpg" alt="">
          <div class="des">
            <span>One Piece</span>
            <h5>Roronoa Zoro Anime Action Figure</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>฿2,500</h4>
          </div>
          <a href="#">
            <div class="cart">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>

        </div>
        <div class="pro">
          <img src="/img/products/p6.jpg" alt="">
          <div class="des">
            <span>Genshin Impact</span>
            <h5>Action Figures Genshin Impact Qiqi 2D</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>฿890</h4>
          </div>
          <a href="#">
            <div class="cart">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>

        </div>
        <div class="pro">
          <img src="/img/products/p7.jpg" alt="">
          <div class="des">
            <span>Genshin Impact</span>
            <h5>Figure Barbara Shining Idol </h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>฿460</h4>
          </div>
          <a href="#">
            <div class="cart">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>

        </div>
        <div class="pro">
          <img src="/img/products/p8.jpg" alt="">
          <div class="des">
            <span>CryBaby</span>
            <h5>CRYBABY × Powerpuff Girls Series-Vinyl Face Plush Blind Box</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>฿430</h4>
          </div>
          <a href="#">
            <div class="cart">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>

        </div>

        -->



    </div>

  </section>

  <section id="banner" class="section-m1">
    <h4>Promotions</h4>
    <h2>Code for up to<span> 30% off</span>-All Mystery Box & Figure</h2>
    <a href="/promotion">
      <button class="normal">Explore More</button>
    </a>
  </section>

  <footer class="section-p1">
    <div class="col">
      <img src="/img/logo_footer.png" alt="">
      <h4>Contact</h4>
      <p><strong>Address:</strong> 126 Pracha Uthit Rd., Bang Mod,Bangkok 10140, Thailand.</p>
      <p><strong>Phone:</strong> +01 1233 660</p>
      <p><strong>Hours:</strong> 8:30 - 10:30,Mon-Sat</p>
    </div>

    <div class="col">
      <h4>About</h4>
      <a href="/about">About </a>
      <a href="/contact">Contact </a>
    </div>

    <div class="col">
      <h4>My Account</h4>
      <a href="/signIn">Sign In </a>
      <a href="/cart">View Cart </a>

      <!-- Need to edit -->
      <a href="Ordertracking.html">Track My Order </a>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="Authen.js"></script>
  <script>
    function redirectToProduct(productId) {
      window.location.href = `/getProduct/${productId}`;
    }
  </script>
</body>

</html>